.storyCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 60px;
    height: 60px;
    border: 1px solid #5C5C5C;
    border-radius: 100px;
}

.title {
    padding-top: 7px;
    font-size: 12px;
}